html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: rgb(0, 0, 0);
}

.join {
  background-color: rgb(254, 235, 244);
  border-radius: 1rem;
  color: rgb(45, 8, 10);
  border: none;
  padding: 1.5rem 2.5rem;
  margin: 1rem auto;
}
.join:hover {
  -webkit-animation: btn-hover 0.6s;
          animation: btn-hover 0.6s;
}

@-webkit-keyframes btn-hover {
  0% {
    background-image: linear-gradient(to bottom right, rgb(254, 235, 244), rgb(253, 206, 190) 0% 5%);
  }
  15% {
    background-image: linear-gradient(to bottom right, rgb(253, 206, 190) 5% 15%, rgb(254, 235, 244));
  }
  40% {
    background-image: linear-gradient(to bottom right, rgb(254, 235, 244), rgb(253, 206, 190) 20% 35%, rgb(254, 235, 244));
  }
  65% {
    background-image: linear-gradient(to bottom right, rgb(254, 235, 244), rgb(253, 206, 190) 40% 65%);
  }
  90% {
    background-image: linear-gradient(to bottom right, rgb(254, 235, 244), rgb(253, 206, 190) 80% 95%);
  }
  100% {
    background-image: linear-gradient(to bottom right, rgb(254, 235, 244), rgb(253, 206, 190) 98% 100%);
  }
}

@keyframes btn-hover {
  0% {
    background-image: linear-gradient(to bottom right, rgb(254, 235, 244), rgb(253, 206, 190) 0% 5%);
  }
  15% {
    background-image: linear-gradient(to bottom right, rgb(253, 206, 190) 5% 15%, rgb(254, 235, 244));
  }
  40% {
    background-image: linear-gradient(to bottom right, rgb(254, 235, 244), rgb(253, 206, 190) 20% 35%, rgb(254, 235, 244));
  }
  65% {
    background-image: linear-gradient(to bottom right, rgb(254, 235, 244), rgb(253, 206, 190) 40% 65%);
  }
  90% {
    background-image: linear-gradient(to bottom right, rgb(254, 235, 244), rgb(253, 206, 190) 80% 95%);
  }
  100% {
    background-image: linear-gradient(to bottom right, rgb(254, 235, 244), rgb(253, 206, 190) 98% 100%);
  }
}
.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  padding: 2rem;
  text-align: center;
}
@media only screen and (max-width: 68.75em) {
  .intro {
    width: 80%;
    padding: 1rem;
  }
}
.intro-h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 68.75em) {
  .intro-h1 {
    font-size: 3rem;
  }
}
.intro p {
  margin-top: 2rem;
}
.intro form {
  margin-top: 1rem;
}
.intro form input[type=email] {
  padding: 0.7rem 1rem;
  width: 80%;
  background: rgba(235, 235, 235, 0.3);
  border: 1px solid transparent;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
@media only screen and (max-width: 68.75em) {
  .intro form input[type=email] {
    width: 50%;
  }
}
.intro form input[type=email]::-moz-placeholder {
  color: rgb(225, 204, 213);
}
.intro form input[type=email]:-ms-input-placeholder {
  color: rgb(225, 204, 213);
}
.intro form input[type=email]::placeholder {
  color: rgb(225, 204, 213);
}
.intro form input[type=email]:focus {
  border: 1px solid white;
  outline: none;
  border-radius: 0;
  transition: 0.5s;
}
.intro form input[type=submit] {
  padding: 0.8rem 1rem;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: rgba(235, 235, 235, 0.8);
  min-width: 15%;
  margin-left: -0.7rem;
}
.intro form input[type=submit]:hover {
  background-color: #ebebeb;
}
.intro .packs {
  background: transparent;
  color: #ebebeb;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3rem;
  border: none;
}
.intro .packs::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.intro .packs:hover::after {
  margin-top: 1rem;
}

.top-nav .logo {
  position: absolute;
  width: 100%;
  top: 0;
  border-radius: 1rem;
  padding: 1rem 3rem;
  left: 50%;
  transform: translateX(-50%);
}
.top-nav .logo > * {
  color: rgb(253, 206, 190);
  top: 5rem;
}
.top-nav .logo-svg {
  width: 3rem;
  height: 3rem;
  fill: rgb(253, 206, 190);
  margin: 0 0 -1rem -1.5rem;
}
.top-nav .logo-label {
  font-family: "Allison", cursive;
  font-size: 6rem;
}

.background {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(5, calc((100vw - 8rem) / 5));
  grid-template-rows: repeat(5, calc((100vh - 4rem) / 5));
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  background-color: rgb(0, 0, 0);
  position: relative;
  z-index: -5;
}
.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgb(45, 8, 10) 2%, rgba(45, 8, 10, 0.9), rgba(0, 0, 0, 0.82) 50% 100%);
  height: 100%;
  width: 100%;
  z-index: 2;
}
.background-img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}
.background-img-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.background-img-2 {
  grid-column: 3/5;
  grid-row: 1/2;
}
.background-img-3 {
  grid-column: 5/6;
  grid-row: 1/3;
  z-index: 2;
}
.background-img-4 {
  grid-column: 4/5;
  grid-row: 2/3;
}
.background-img-5 {
  grid-column: 1/2;
  grid-row: 2/4;
}
.background-img-6 {
  grid-column: 4/6;
  grid-row: 3/5;
}
.background-img-7 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.background-img-8 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.background-img-9 {
  grid-column: 3/4;
  grid-row: 4/5;
}
.background-img-10 {
  grid-column: 2/3;
  grid-row: 3/5;
}
.background-img-11 {
  grid-column: 2/3;
  grid-row: 5/6;
}
.background-img-12 {
  grid-column: 1/2;
  grid-row: 4/6;
}
.background-img-13 {
  grid-column: 3/5;
  grid-row: 5/6;
}
.background-img-14 {
  grid-column: 5/6;
  grid-row: 5/6;
}

main > * {
  padding-top: 7rem;
}

.features {
  min-height: 30vh;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
  background-image: linear-gradient(to bottom, rgb(45, 8, 10) 2%, rgba(45, 8, 10, 0.8), rgb(253, 206, 190));
  /*  &>*:not(:last-child)::after {
      content: "";
      width: 3rem;
      height: 3rem;
      border-right: 2px solid black;
      display: inline-block;
      align-self: flex-end;
  }*/
}

.plans {
  background-image: linear-gradient(to bottom, rgb(253, 206, 190) 1%, rgba(253, 206, 190, 0.4));
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 1rem;
  color: rgb(235, 235, 235);
  border-radius: 5px;
}
.feature i {
  -webkit-background-clip: text;
          background-clip: text;
  margin-bottom: 1.5rem;
}
.feature i::before {
  color: rgb(253, 206, 190);
  font-size: 4rem;
}
.feature-paragraph {
  width: 25rem;
}
.feature-btn {
  width: 80%;
  display: flex;
  justify-content: center;
}

.plan {
  background-color: rgba(124, 54, 38, 0.1);
  height: 35rem;
  width: 21.25%;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
}
.plan-name {
  text-align: center;
  font-family: "Allison", cursive;
  font-size: 4rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  color: gray;
  padding: 1rem 0;
}
@media only screen and (max-width: 68.75em) {
  .plan {
    width: 90%;
  }
}

.price {
  padding: 1.5rem 0;
}
.price-num {
  font-size: 5rem;
  text-align: center;
}
.price-egp {
  text-align: end;
}

.pro {
  padding: 0.2rem 0;
}/*# sourceMappingURL=movication.css.map */