@keyframes btn-hover {
    0% {
        background-image: linear-gradient(to bottom right, $c1, $c3 0% 5%);
    }
    15% {
        background-image: linear-gradient(to bottom right, $c3 5% 15%, $c1);
    }
    40% {
        background-image: linear-gradient(to bottom right, $c1, $c3 20% 35%, $c1);
    }
    65% {
        background-image: linear-gradient(to bottom right, $c1, $c3 40% 65%);
    }
    90% {
        background-image: linear-gradient(to bottom right, $c1, $c3 80% 95%);
    }
    100% {
        background-image: linear-gradient(to bottom right, $c1, $c3 98% 100%);
    }
}